{% extends "base.html" %}
{% block content %}
    <div class="level-item has-text-centered">
        <h1 class="title">Reporte Tetsting</h1>
    </div>

    {% for result in results %}
            <p><strong>Testing: {{ loop.index }}</strong> - 
                {% if result.status == "passed" %}
                <span class="tag is-success">{{ result.status}}</span>
                {% else %}
                <span class="tag is-danger">{{ result.status}}</span>
                {% endif %}
            </p> 
            {% for element in result.elements %}
                <div class="section">
                    <table class="table is-bordered">
                        <thead>
                            <tr>
                            <th>#</th>
                            <th>Scene</th>
                            <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>{{ loop.index }}</th>
                                <td>{{ element.name }}</td>
                                <td>
                                    {% if element.status == "passed" %}
                                    <span class="tag is-success">{{ element.status}}</span>
                                    {% else %}
                                    <span class="tag is-danger">{{ element.status}}</span>
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table> 

                    <h5 class="title is-5">Steps:</h5>
                    <table class="table is-bordered">
                        <thead>
                            <tr>
                            <th>#</th>
                            <th>Step</th>
                            <th>Status</th>
                            <th>Duration</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for step in  element.steps %}
                            <tr>
                                <th>{{ loop.index }}</th>
                                <td>{{ step.name }}</td>
                                <td>
                                    {% if result.status == "passed" %}
                                    <span class="tag is-success">{{ step.result.status}}</span>
                                    {% else %}
                                    <span class="tag is-danger">{{ step.result.status}}</span>
                                    {% endif %}
                                </td>
                                <td>{{ step.result.duration }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            {% endfor %}
        </article>
    {% endfor %}
{% endblock %}